//@import "bootstrap";
//@import "bourbon";
//@import "neat";
//@import "neat-helpers";
@import "mixins";
@import "utilities";
@import "typography";

body {
	min-height: 2000px;
	padding-top: 70px;
}

.bg-wrapper {
	position: absolute;
	width: 100%;
	min-height: 100%;
}
.bg-image {
	background: url(../img/main-bg-st.jpg) no-repeat center;
	background-size: cover;
}
.entire-content {
	@include centerXY;
	@media screen and (max-width: 767px) {
		position: static;
		transform: translate(0);
		padding-top: 70px;
	}
}
.main-title{
margin-bottom: 30px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	&-list {
		margin-top: 10px;
		padding-left: 0;
	}
	&-item {
		position: relative;
		display: inline-block;
		list-style: none;
		padding-right: 15px;
		&:before {
			content: "";
			position: absolute;
			right: 7px;
			height: 100%;
			border-right: 1px solid black;
		}
	}
}
.input-group-lg .input-group-addon {
	min-width: 60px;
}

